<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/local.css">
        <title>
            Wikipedia Article Impact Tool
        </title>
    </head>
    <body>
    <div class="homepage-header">
        <h1>User List Tool</h1>
    </div>
    <div>
        A tool for generating lists of editors on a wiki based on simple parameters.
    </div>
    <div>
        Finds editors matching the parameters who made at least one edit in the past 7 days.
    </div>
    <form method="POST">
        <label for="database-input" class="form-label">Wiki database (required)</label>
        <input type="text" class="form-control" id="database-input" placeholder="frwiki" name="database">
        <label for="edit-count-min-input" class="form-label">Local edit count minimum</label>
        <input type="text" class="form-control" id="edit-count-min-input" name="edit-count-min">
        <label for="edit-count-max-input" class="form-label">Local edit count maximum</label>
        <input type="text" class="form-control" id="edit-count-max-input" name="edit-count-max">
        <label for="account-age-min-input" class="form-label">Account age minimum (days)</label>
        <input type="text" class="form-control" id="account-age-min-input" name="account-age-min">
        <label for="account-age-max-input" class="form-label">Account age maximum (days)</label>
        <input type="text" class="form-control" id="account-age-max-input" name="account-age-max">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if query %}
    <div>
        Query: {{ query }}
    </div>
    {% endif %}
    {% if user_list %}
    <div>
        <h2>Results</h2>
        {{ user_list }}
    </div>
    {% endif %}
    </body>
</html>